.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/logonew.png) center #000;
  background-position: cover;
  background-repeat: no-repeat;
}
.fixed { position: fixed; z-index: 999; }
/* 14-The Dementor: */
/*.blueHour {
  background: -webkit-linear-gradient(left, #7E898F 0%, #636C75 100%), -webkit-radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.55) 100%), -webkit-radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.08) 63%);
  background: linear-gradient(90deg, #7E898F 0%, #636C75 100%), radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.55) 100%), radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.08) 63%);
  background-blend-mode: multiply, screen; }*/
.cosmos {
  background-color: #797572;
  background-image: -webkit-linear-gradient(263deg, rgba(255, 255, 255, 0.2) 0%, #000000 100%), -webkit-linear-gradient(18deg, rgba(255, 255, 255, 0.25) 25%, rgba(0, 0, 0, 0.25) 100%), -webkit-radial-gradient(47% 102%, rgba(255, 255, 255, 0.5) 0%, rgba(21, 24, 32, 0.6) 120%);
  background-image: linear-gradient(-173deg, rgba(255, 255, 255, 0.2) 0%, #000000 100%), linear-gradient(72deg, rgba(255, 255, 255, 0.25) 25%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(47% 102%, rgba(255, 255, 255, 0.5) 0%, rgba(21, 24, 32, 0.6) 120%);
  background-blend-mode: multiply; }
.goldenLeaf {
  background: #92847B;
  background-image: -webkit-radial-gradient(at bottom center, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 200%), -webkit-radial-gradient(at bottom center, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: radial-gradient(at bottom center, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 200%), radial-gradient(at bottom center, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
background-blend-mode: normal,screen; }

#bitmap { 
  border: 30px solid transparent;
  padding: 20px;
  .border-image: url("http://iranews.net/daut/as/f/b/black-border-design-archives-page-designs-nice-and-white-book-clipart-2014_borders-design_interior-design_interior-home-design-what-do-designers-designing-designer-salary-contemporary-atlanta-apartmen.png") 30;
  border-image: url("http://orig11.deviantart.net/266c/f/2016/209/a/d/simple_futuristic_border_design_ver2___cyan_by_vahntreorr-dabnrc6.png") 30;
}

.bgspace{
  background-image: url('../img/tL5HmgfZi0Qow.gif');
  background-position: center;
  background-size: cover;
}